body {
  /* background-color: rgb(0, 0, 0); */
  color: #4677ff;
}

.container {
  /* border: 20px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box {
  /* border: 2px solid red; */
  background-color: white;
  border: 100px solid pink;
  width: 550px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  /* border: 2px solid green; */
}

.price {
  background-color:  #ffce46;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}